*.iml
.gradle
.idea/
.DS_Store
/build/
/captures/
/gradlew
/gradlew.bat
/gradle-wrapper/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
*.iml
*.lock
